.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 80px 0;
  font-family: "Raleway", sans-serif;
}

.contents {
  background-color: #342f2f;
  width: 60%;
  height: 7.5rem;
  border-radius: 20px;
  margin: 10px;
}

.department,
.name {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 3px;
  color: #dcb814;
  margin-top: 45px;
}
.image {
  margin-top: 10px;
}
.buttonCol {
  margin-top: 35px;
  text-align: right;
  margin-left: 40px;
}
.departmentCol {
  margin-right: 10px;
}
.button {
  background-color: #647aff;
  height: 50px;
  width: 130px;
  border-radius: 50px;
  border: 1px;
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: #f3da69;
  font-weight: bold;
}
.button:hover {
  color: #ffffff;
  background-color: #348f31;
}

/* mobile */
@media only screen and (max-width: 375px) {
  .contents {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .department,
  .name {
    padding-left: 20px;
    font-size: 0.8rem;
    text-align: center;
    color: #dcb814;
  }

  .name {
    padding-left: 80px;
  }

  .image {
    padding-left: -30%;
  }
}
