#image {
  width: 210.38px;
  height: 187px;
  background: #ffffff;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -6%;
}
.logoDiv img {
  width: 10rem;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: #dcb814;
  text-decoration: none;
}
.home {
  font-weight: 300;
  color: #dcb814;
  font-size: 2.6rem;
  cursor: pointer;
  letter-spacing: 3px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.navbar a {
  letter-spacing: 2px;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
  z-index: 1;
  letter-spacing: 3px;
  position: static;
}

.navLinks li a:hover {
  box-shadow: 0 20px 85px #ec9e14;
  color: #dcb814;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
  letter-spacing: 4px;
  font-weight: 600;
}

.voteLogo {
  z-index: 1;
  right: -10%;
  top: -20%;
  position: static;
}
.circle {
  position: absolute;
  width: 430px;
  height: 400px;
  background-color: #1e1c1c;
  border-radius: 100%;
  right: -8%;
  top: -11rem;
}

/*animated custom navlinks*/
a.effectUnderline:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.29s, transform 0.39s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effectUnderline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* mobile */
@media only screen and (max-width: 375px) {
  .circle {
    width: 700px;
    height: 700px;
    z-index: -1;
    top: -80%;
    left: -40%;
    position: absolute;
  }

  .voteLogo {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
  }

  .navLinks li {
    padding: 20px;
  }
}
