#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dcb814;
  margin-top: 12%;
  font-family: "Raleway", sans-serif;
}

.aboutUs,
.imageIcons,
.imageIcons1 {
  display: flex;
}
.aboutUs {
  margin-bottom: 100px;
}

.description,
.contact {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1.3;
}

.details > .name {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
}

.iconBox {
  background-color: #d3d3d3;
  height: 4rem;
  width: 13rem;
  border-radius: 30px;
  text-align: center;
  padding-left: 32px;
  margin-left: -16%;
  margin-top: 25%;
  z-index: -1;
}

.iconBox1 {
  background-color: #d3d3d3;
  height: 4rem;
  width: 13rem;
  border-radius: 30px;
  text-align: center;
  padding-right: 32px;
  z-index: -1;
  margin-right: -16%;
  margin-top: 25%;
}
.imageIcons1 {
  padding-left: 30px;
}
