.adminFormContainer {
  margin-bottom: 15vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */

#section {
  position: relative;
  width: 40%;
  height: 70vh;
  display: flex;
}

section .contentBx {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1c1a1a;
  border-radius: 30px;
}

section .contentBx .formBx {
  width: 60%;
}

section .contentBx .formBx h2 {
  color: #dcb814;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.inputBx > button {
  margin-top: 20px;
}

section .contentBx .formBx .inputBx label {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  color: #dcb814;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 2px solid #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  background: transparent;
  border-radius: 30px;
}

.input[type="submit"] {
  /* background: #647aff; */
  background-color: #dcb814;
  color: #000;
  font-weight: 400;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.input[type="submit"]:hover {
  background: #4d5ec0;
}
